In [2]:
import pandas as pd
df=pd.read_csv("Advertising.csv")

In [3]:
df.head()

   Unnamed: 0     TV  radio  newspaper  sales
0           1  230.1   37.8       69.2   22.1
1           2   44.5   39.3       45.1   10.4
2           3   17.2   45.9       69.3    9.3
3           4  151.5   41.3       58.5   18.5
4           5  180.8   10.8       58.4   12.9

In [4]:
df.isnull().sum()

Unnamed: 0    0
TV            0
radio         0
newspaper     0
sales         0
dtype: int64

In [6]:
df.shape

(200, 5)

In [8]:
from sklearn.tree import DecisionTreeRegressor

In [15]:
df_features=df.columns
y=df.sales
X=df[df_features]

In [16]:
print(df_features)

Index(['Unnamed: 0', 'TV', 'radio', 'newspaper', 'sales'], dtype='object')

In [17]:
print(y)

0      22.1
1      10.4
2       9.3
3      18.5
4      12.9
       ...
195     7.6
196     9.7
197    12.8
198    25.5
199    13.4
Name: sales, Length: 200, dtype: float64

In [18]:
print(X)

     Unnamed: 0     TV  radio  newspaper  sales
0             1  230.1   37.8       69.2   22.1
1             2   44.5   39.3       45.1   10.4
2             3   17.2   45.9       69.3    9.3
3             4  151.5   41.3       58.5   18.5
4             5  180.8   10.8       58.4   12.9
..          ...    ...    ...        ...    ...
195         196   38.2    3.7       13.8    7.6
196         197   94.2    4.9        8.1    9.7
197         198  177.0    9.3        6.4   12.8
198         199  283.6   42.0       66.2   25.5
199         200  232.1    8.6        8.7   13.4

[200 rows x 5 columns]

In [9]:
#model cretaed
df_model=DecisionTreeRegressor()

In [10]:
df_model

DecisionTreeRegressor()

In [19]:
#fit model
df_model.fit(X,y)

DecisionTreeRegressor()

In [22]:
#calculateing the MAE
from sklearn.metrics import mean_absolute_error

In [23]:
predicted_sales=df_model.predict(X)

In [28]:
predicted_sales

array([22.1, 10.4,  9.3, 18.5, 12.9,  7.2, 11.8, 13.2,  4.8, 10.6,  8.6,
       17.4,  9.2,  9.7, 19. , 22.4, 12.5, 24.4, 11.3, 14.6, 18. , 12.5,
        5.6, 15.5,  9.7, 12. , 15. , 15.9, 18.9, 10.5, 21.4, 11.9,  9.6,
       17.4,  9.5, 12.8, 25.4, 14.7, 10.1, 21.5, 16.6, 17.1, 20.7, 12.9,
        8.5, 14.9, 10.6, 23.2, 14.8,  9.7, 11.4, 10.7, 22.6, 21.2, 20.2,
       23.7,  5.5, 13.2, 23.8, 18.4,  8.1, 24.2, 15.7, 14. , 18. ,  9.3,
        9.5, 13.4, 18.9, 22.3, 18.3, 12.4,  8.8, 11. , 17. ,  8.7,  6.9,
       14.2,  5.3, 11. , 11.8, 12.3, 11.3, 13.6, 21.7, 15.2, 12. , 16. ,
       12.9, 16.7, 11.2,  7.3, 19.4, 22.2, 11.5, 16.9, 11.7, 15.5, 25.4,
       17.2, 11.7, 23.8, 14.8, 14.7, 20.7, 19.2,  7.2,  8.7,  5.3, 19.8,
       13.4, 21.8, 14.1, 15.9, 14.6, 12.6, 12.2,  9.4, 15.9,  6.6, 15.5,
        7. , 11.6, 15.2, 19.7, 10.6,  6.6,  8.8, 24.7,  9.7,  1.6, 12.7,
        5.7, 19.6, 10.8, 11.6,  9.5, 20.8,  9.6, 20.7, 10.9, 19.2, 20.1,
       10.4, 11.4, 10.3, 13.2, 25.4, 10.9, 10.1, 16.1, 11.6, 16.6, 19. ,
       15.6,  3.2, 15.3, 10.1,  7.3, 12.9, 14.4, 13.3, 14.9, 18. , 11.9,
       11.9,  8. , 12.2, 17.1, 15. ,  8.4, 14.5,  7.6, 11.7, 11.5, 27. ,
       20.2, 11.7, 11.8, 12.6, 10.5, 12.2,  8.7, 26.2, 17.6, 22.6, 10.3,
       17.3, 15.9,  6.7, 10.8,  9.9,  5.9, 19.6, 17.3,  7.6,  9.7, 12.8,
       25.5, 13.4])

In [29]:
mean_absolute_error(y,predicted_sales)

5.329070518200751e-17

# splitting the data

In [35]:
#split the data and make ordiction on the slaes
from sklearn.model_selection import train_test_split
train_X, value_X, train_y, value_y = train_test_split(X,y,random_state=0)

In [37]:
#model defining for the splitted data
print(train_X.head())

     Unnamed: 0     TV  radio  newspaper  sales
71           72  109.8   14.3       31.7   12.4
124         125  229.5   32.3       74.2   19.7
184         185  253.8   21.3       30.0   17.6
97           98  184.9   21.0       22.0   15.5
149         150   44.7   25.8       20.6   10.1

In [42]:
print(value_X.head())

     Unnamed: 0     TV  radio  newspaper  sales
18           19   69.2   20.5       18.3   11.3
170         171   50.0   11.6       18.4    8.4
107         108   90.4    0.3       23.2    8.7
98           99  289.7   42.3       51.2   25.4
177         178  170.2    7.8       35.2   11.7

In [38]:
print(train_y.head())

71     12.4
124    19.7
184    17.6
97     15.5
149    10.1
Name: sales, dtype: float64

In [43]:
print(value_y.head())

18     11.3
170     8.4
107     8.7
98     25.4
177    11.7
Name: sales, dtype: float64

In [44]:
model_df2=DecisionTreeRegressor()

In [54]:
model_df2.fit(train_X,train_y)

DecisionTreeRegressor()

In [48]:
df2_predict=model_df2.predict(value_X)

In [49]:
df2_predict

array([11.3,  8.6,  8.6, 25.5, 11.7,  8.6,  7.3, 13.4,  9.3, 16.9, 24.4,
       10.9, 11. , 15.7, 11.8, 13.2, 17.6,  3.2, 14.7, 16.7, 25.4, 10.3,
       15.2, 12.9,  8.6, 15.3, 12.5, 22.6, 11.6,  8.6, 12.6, 23.8, 15.9,
       21.5,  5.5,  6.6,  9.7, 12.9, 13.2,  7.3, 10.9,  9.5, 15.2, 15.9,
       17.4, 14.2,  5.3,  8. , 16. , 11. ])

In [51]:
mae=mean_absolute_error(value_y,df2_predict)

In [52]:
mae

0.20800000000000002